<h1 class="font-bold text-900">Create a New Team</h1>

<div *ngIf="isValidFormSubmitted" class="submitted">Form submitted successfully.
</div>

<div class="p-6 border-1 surface-border border-round surface-card">
  <form [formGroup]="teamForm" (ngSubmit)="onFormSubmit()" class="grid formgrid p-fluid">
    <!-- TEAM NAME -->
    <div class="field mb-4 col-12">
      <label for="teamName" class="font-medium text-800">
        Team Name
      </label>
      <input id="teamName" formControlName="teamName" pInputText />
      <div *ngIf="teamName?.invalid && isValidFormSubmitted != null && !isValidFormSubmitted" class="error">
        Team name is required.
      </div>
    </div>
    <div class="surface-border border-top-1 opacity-50 mb-4 col-12"></div>
    <!-- EMPLOYEES -->
    <div class="col-12">
      <h3 class="mt-0 text-900 font-bold">Employees</h3>
    </div>
    <ng-container formArrayName="employees">
      <ng-container *ngFor="let emp of employees.controls; let i = index" [formGroupName]="i" class="employee">
        <div class="col-12 mb-4 border-1 surface-border border-round p-4">
          <h4 for="employees" class="mt-0 font-medium text-900">
            Employee {{i + 1}}
          </h4>
          <div class="grid formgrid p-fluid align-items-center">
            <div class="col-12 lg:col-4">
              <div class="field lg:mb-0">
                <label for="employeeName" class="font-medium text-800">
                  Name
                </label>
                <input id="employeeName" pInputText formControlName="empName" />
                <div
                  *ngIf="employees.controls[i].get('empName')?.errors?.['required'] && isValidFormSubmitted != null && !isValidFormSubmitted"
                  class="error">
                  Employee name required.
                </div>
              </div>
            </div>
            <div class="col-12 lg:col-3">
              <div class="field lg:mb-0">
                <label for="age">Age</label>
                <input id="age" pInputText formControlName="age">
                <div
                  *ngIf="employees.controls[i].get('age')?.errors?.['required'] && isValidFormSubmitted != null && !isValidFormSubmitted"
                  class="error">
                  Age required.
                </div>
                <div
                  *ngIf="employees.controls[i].get('age')?.errors?.['min'] && isValidFormSubmitted != null && !isValidFormSubmitted"
                  class="error">
                  Minimum age is 21.
                </div>
              </div>
            </div>
            <div class="col-12 lg:col-3">
              <p>Skill :
                <select formControlName="skill">
                  <option *ngFor="let skill of allSkills$ | async" [ngValue]="skill.name">
                    {{ skill.displayName }}
                  </option>
                </select>
                <br />
                <label
                  *ngIf="employees.controls[i].get('skill')?.errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                  class="error">
                  Select skill.
                </label>
              </p>
            </div>
            <div class="col-2">
              <button pButton pRipple type="button" icon="pi pi-trash" label="Remove"
                class="w-auto p-button-outlined p-button-danger" (click)="deleteEmployee(i)">
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <div *ngIf="employees.errors?.['required']" class="error">
      At least 1 employee is required.
    </div>
    <div *ngIf="employees.errors?.['maxlength']" class="error">
      You may only add 5 employees.
    </div>
    <div class="col-12">
      <button pButton pRipple type="button" icon="pi pi-plus" label="Add Employee" class="w-auto p-button-outlined"
        (click)="addEmployee()">
      </button>
    </div>
    <div class="surface-border border-top-1 opacity-50 mb-4 col-12"></div>
    <div class="flex align-items-center justify-content-end">
      <button pButton pRipple type="button" class="p-button-text" (click)="resetTeamForm()">
        Reset
      </button>
      <button pButton pRipple type="submit" [disabled]="teamForm.invalid">
        Submit
      </button>
    </div>
  </form>
</div>